SOLANA_URL=https://solana-rpc.publicnode.com
SUI_URL=https://fullnode.mainnet.sui.io
TON_URL=https://toncenter.com
APTOS_URL=https://fullnode.mainnet.aptoslabs.com/v1
OKX_API_KEY=
OKX_SECRET_KEY=
OKX_API_PASSPHRASE=
OKX_PROJECT_ID=
