name: Docker Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        load: true
        tags: core-ts:test
        build-args: |
          GIT_COMMIT=${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Run and Test
      run: |
        docker run -d --rm --name test-container -p 3000:3000 core-ts:test
        echo "Waiting for container to start..."
        sleep 4 # Adjust sleep time if needed
        echo "Testing container endpoint..."
        curl --fail http://localhost:3000
        echo "Stopping container..."
        docker stop test-container
